
h1, p {
  font-family: Lato;
}

p{
  border: 1px solid rgb(90, 88, 88);
  width: 80vw;
  height: 100px;
  margin-top:0px;
  padding: 4px;
}

.editorOptions > button {
  border:1px solid rgb(90, 88, 88);
  border-radius: 2px;
  width:30px;
  height:25px;
  background-color: #fff;
  margin-right: 1px;
}
